.SocialShareButtons {
	position: absolute;
	top: 150px;
	right: -50px;
}
.SocialShareButtons .shareButton {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	margin-bottom: 10px;
	width: 40px;
	height: 40px;
	border: 1px solid #fff;
	border-radius: 50%;
  transition: .5s;
}
.SocialShareButtons .shareButton:nth-child(1):hover {
  box-shadow: 0 0 5px #0066db,
              0 0 10px #0066db,
              0 0 20px #0066db,
              0 0 40px #0066db;
}
.SocialShareButtons .shareButton:nth-child(2):hover {
  box-shadow: 0 0 5px #4facfe,
              0 0 10px #4facfe,
              0 0 20px #4facfe,
              0 0 40px #4facfe;
}
.SocialShareButtons .shareButton:nth-child(3):hover {
  box-shadow: 0 0 5px #05ff37,
              0 0 10px #05ff37,
              0 0 20px #05ff37,
              0 0 40px #05ff37;
}
/* box-shadow: 0 0 5px #be4ffe,
              0 0 10px #be4ffe,
              0 0 20px #be4ffe,
              0 0 40px #be4ffe; */
.SocialShareButtons .shareButton .shareIcon {
	width: 20px;
	height: 20px;
  color: #e3e3e3;
}

.Active {
  position: fixed;
	top: 150px;
	right: 50px;
}


/* ############# MOBILE ############# */

.MobileShareButtons {
  position: fixed;
  width: 50px;
  height: 50px;
  right: 20px;
  bottom: 20px;
  z-index: 10;
}
.MobileButton {
  position: absolute;
  display: flex;
	align-items: center;
	justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #202733;
  color: #fff;
  border: 1px solid #e3e3e3;
	border-radius: 50%;
  transition: .5s;
}
.MobileButtonToggle {
  position: absolute;
  display: flex;
	align-items: center;
	justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #202733;
  color: #fff;
  cursor: pointer;
  border: 1px solid #e3e3e3;
	border-radius: 50%;
  transition: .5s;
}
.MobileIcon {
  width: 28px;
	height: 28px;
  color: #fff;
}

.ActiveMobile:nth-child(1) {
  /* top: -60px; */
  transform: translateY(-60px);
  background-color: #202733;
  transition: .5s;
}
.ActiveMobile:nth-child(2) {
  /* top: -120px; */
  transform: translateY(-120px);
  background-color: #202733;
  transition: .5s;
}
.ActiveMobile:nth-child(3) {
  /* top: -180px; */
  transform: translateY(-180px);
  background-color: #202733;
  transition: .5s;
  
}
.MobileButtonToggle:hover {
  box-shadow: 0 0 5px #be4ffe,
              0 0 10px #be4ffe,
              0 0 20px #be4ffe,
              0 0 40px #be4ffe;
}
.ActiveMobile:nth-child(1):hover {
  box-shadow: 0 0 5px #0066db,
              0 0 10px #0066db,
              0 0 20px #0066db,
              0 0 40px #0066db;
}
.ActiveMobile:nth-child(2):hover {
  box-shadow: 0 0 5px #4facfe,
              0 0 10px #4facfe,
              0 0 20px #4facfe,
              0 0 40px #4facfe;
}
.ActiveMobile:nth-child(3):hover {
  box-shadow: 0 0 5px #05ff37,
              0 0 10px #05ff37,
              0 0 20px #05ff37,
              0 0 40px #05ff37;
}
