.PageContainer {
  background-color: #202733;
}
.HeaderContainer {
  height: 100vh;
  width: 100%;
  background-image: url("../public/images/image2.jpg");
  background-repeat: no-repeat, repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}
.HeaderText {
  margin-top: 250px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.HeaderText h1 {
  font-size: 60px;
  color: #fff;
}
.HeaderText .HedTxt {
  font-size: 28px;
  color: #fff;
  max-width: 60%;
  text-align: center;
}
.Button {
  position: relative;
  width: 155px;
  height: 50px;
  margin: 20px auto;
}
.Button a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  color: #fff;
  z-index: 1;
  font-weight: 400;
  letter-spacing: 1px;
  overflow: hidden;
  transition: 0.5s;
  backdrop-filter: blur(15px);
}
.Button:hover a {
  letter-spacing: 3px;
}
.Button a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
  transform: skewX(45deg) translateX(0);
  transition: 0.5s;
}
.Button:hover a::before {
  transform: skewX(45deg) translateX(200%);
}
.Button::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -5px;
  width: 30px;
  height: 10px;
  background: #0f0;
  border-radius: 10px;
  transition: 0.5s;
  transition-delay: 0s;
}
.Button:hover::before {
  bottom: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
  transition-delay: 0.5s;
}
.Button::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -5px;
  width: 30px;
  height: 10px;
  background: #0f0;
  border-radius: 10px;
  transition: 0.5s;
  transition-delay: 0s;
}
.Button:hover::after {
  top: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
  transition-delay: 0.5s;
}
.Button::before,
.Button::after {
  background: #0f0;
  box-shadow: 0 0 5px #0f0,
              0 0 15px #0f0,
              0 0 30px #0f0,
              0 0 60px #0f0;
}

.CategoriesContainer {
  padding: 50px;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}